a {
  text-decoration: none;
}
body {
 background: #888e94;
  background-size: cover;

background: -webkit-linear-gradient(bottom, #a9b3ad, #636c70);
background-repeat: no-repeat;

}
label {
  font-family: "Raleway", sans-serif;
  font-size: 13pt;
}
#forgot-pass {
  color: #1982e4;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: #92b8be;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(207, 250, 89, 0.65);
  height: 545px;
  margin: 12rem auto 19.95rem auto;
  width: 380px;
}
#card-content {
  padding: 12px 34px;
}
#card-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #69b2f7;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background: #5ba9f1;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #b4eb4d;
  cursor: pointer;
  color: rgb(20, 20, 20);
  font-family: "Raleway SemiBold", sans-serif;
  height: 33px;
  margin: 0 auto;
  margin-top: 25px;
  transition: 0.25s;
  width: 143px;
}

#submit-btn:hover {
  box-shadow: 0px 3px 18px #d7e933;
  background: #06c931;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #1982e4, #1982e4);
  height: 1px;
  width: 100%;
}
.form-content {
  font-family: "Raleway SemiBold", sans-serif;
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
  font-size: 15px;
}
.underline-title {
  background: -webkit-linear-gradient(right, #1982e4, #1982e4);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}