*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    -webkit-font-smoothing: antialiased;
    background: #65888d;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 10px 10px;
    box-shadow: 0px 15px 15px #00000033;
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 0.1px solid rgb(153, 151, 151);
    border-collapse: collapse;
    width: 20%;
    max-width: 20%;
    white-space: nowrap;
    background-color: #9bd2da;
    word-wrap: break-word;

}

.fl-table td, .fl-table th {
    text-align: justify;
    padding: 8px;
    width: 40px;
    word-wrap: break-word;
}

.fl-table td {
    border-right: 1px solid #71767a;
    background: #bfcacf;
    font-size: 14px;
    padding: 8px;
    width: 30px;
    word-wrap: break-word;
}

.fl-table thead th {
    color: #000000;
    background: #989dcc;
    padding: 8px;
    width: 400px;
    word-wrap: break-word;
}


.fl-table thead th:nth-child(odd) {
    color: #000000;
    background: #989dcc;
}

.fl-table tr:nth-child(even) {
    background: #e0dfdf;
}

.fl-table tr:hover {
    background: #1fb7f3;
}


#myTable {
    font-family: "Raleway", sans-serif;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    width: 400px;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  
  #myTable td, #myTable th {
    border: 1px solid #9bdfdf(145, 154, 160);
    padding: 30px;
    width: 100px;
    word-wrap: break-word;
  }
  
  #myTable tr:nth-child(even){background-color: #848594;}
  
  #myTable tr:hover {background-color: #2ad44f;}
  
  #myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8fd6d3;
    color: #000000;

}

#myTable2 {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    word-wrap: break-word;
  }
  
#myTable2 td, #myTable2 th {
    border: 1px solid rgb(107, 103, 103);
    padding: 8px;
  }
  
#myTable2 tr:nth-child(even){background-color: #acbec5;}
  
#myTable2 tr:hover {background-color: #19e219;}
  
#myTable2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3eadb1;
    color: #000000;
}

#tblDistribusi {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
  }
  
#tblDistribusi td, #tblDistribusi th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#tblDistribusi tr:nth-child(even){background-color: #7b81d3;}
  
#tblDistribusi tr:hover {background-color: #1dee51;}
  
#tblDistribusi th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #63b1c9;
    color: #000000;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 14px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.judul {
    margin-top: 10px;
    width: 100%;
    background: #c8caca;
    border: 0.5px solid #6a6c6d;
    color: #0e0d0d;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}

.dashboard-frame {
    width: 100%;
    height: 760px;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.icon-data {
    background-color: #325c66;
  }

.text-data {
    padding: 10px;
    background-color: #ffffff;
}

.data-table {
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-radius: 3px;
    padding-left: 0px;  
}

.head-table {
    margin-top: 10px;
    width: 100%;
    background: #c8caca;
    border: 0.5px solid #b6b2b2;
    border-bottom: 0px;
    color: #141414;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
}

.head-chat {
    margin-top: 0px;
    width: 100%;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    color: #252525;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

pesan-masuk {
    text-decoration: none;
    display: inline-block;
    background-color: #1982e4;
    color: #FFFFFF;
    padding: 10px 15px;
    transition: background .3s;
    border-radius: 4px;
}

td a:link {
	text-decoration: none;
    display: inline-block;
    background-color: #4551f1;
    color: #0a0a0a;
    padding: 5px 10px;
    transition: background .3s;
    border-radius: 4px;
}
td a:visited {
	color: #a1dff1;
}
td a:hover {
	background-color: #15d82f;
}

.navigasi a:link {
	text-decoration: none;
    display: inline-block;
    background-color: #4551f1;
    color: #e7e1e1;
    padding: 8px 10px;
    transition: background .3s;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.navigasi a:visited {
	color: #b6dee5;
}
.navigasi a:hover {
    background-color: #15d82f;
    color: #0a0a0a;
}

.navigasi .pencarian {
    padding: 10px 15px;
}

.judul a {
    text-decoration: none;
    color: #6e76df;
}

.tombol {
    display: inline-block;
    background-color: #3682a0;
    color: #2d08ff;
    padding: 10px 15px;
    transition: background .3s;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.tombol:visited {
	color: #516169;
}

.tombol:hover {
	background-color: #15d82f;
}

.close {
    color: #352f2f;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(176, 211, 228);
    text-decoration: none;
    cursor: pointer;
  }

div .CssTambah {
    width: 30%;
    background-color: #16e48e;
    color: rgb(0, 0, 0);
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

div .CssHapus {
    width: 30%;
    background-color: #2bb6c0;
    color: #1b1919;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

div .CssUpdate {
    width: 30%;
    background-color: #16e48e;
    color: #FFFFFF;
    padding: 10px 15px 10px 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

.update-progres {
    width: 45px;
    height: 40px;
    background: #2bb6c0;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.update-progres:hover {
    background: #15d82f;
}

/* Style untuk Sidebar Menu Pesan */
.menuPesan {
    width: 20%;
    height: 700px;
    padding-left: 100px;
    float: left;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-bottom: 0px;
    color: #252525;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
  }

  
  .mainPesan {
    width: 80%;
    float: left;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-bottom: 0px;
    color: #252525;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
  }

  .mainPesan2 {
    height: 475px;
    width: 100%;
    float: left;
    background: #ffffff;
    border: 0.5px solid #b6b2b2;
    border-bottom: 0px;
    color: #252525;
    border-radius: 3px;
    padding: 15px 10px 15px 10px;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #109fca;
    color: white;
  }

  .sidebar a.compose {
    background-color: #0e83a7;
    color: white; 
  }

  .sidebar a.penerimaObrolan {
    background-color: #128ca1;
    color: white; 
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #109fca;
    color: white;
  }
  
#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 14px;
    padding: 11px 19px 11px 15px;
    border: 0.5px solid #505050;
    margin-bottom: 12px;
}


#optionFilter {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 190px;
    font-size: 14px;
    padding: 10px 19px 10px 5px;
    border: 0.5px solid #505050;
    margin-bottom: 12px
}

.search-area a:hover {
    background-color: #afddeb;
    color: rgb(14, 12, 12);
}

.grid-project {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #109fca;
    color: #FFFFFF;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

#cariObrolan {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 11px 19px 11px 15px;
    border: 0.5px solid #505050;
    margin-bottom: 12px;
}

#inputObrolan {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 85%;
    font-size: 14px;
    padding: 11px 19px 11px 15px;
    border: 0.5px solid #505050;
    margin-bottom: 12px;
}

#div_chat {
    height: 550px;
    width: 100%;
    overflow: auto;
    background-color: #dcdcdc80;
    border: 0.5px solid #b6b2b2;
    margin: 12px 0;
    padding: 10px;
}

input[type=button] {
	border: none;
	padding: 12px 15px 12px 15px;
	background: #0d84bb;
	color: rgb(17, 16, 16);
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

input[type=button]:hover {
	background: #e46060;
	color: #fff;
}


.selectOption {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 10px 19px 10px 5px;
    border: 0.5px solid #505050;
}


.selectDesignator {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 10px 19px 10px 5px;
    border: 0.5px solid #505050;
}


.column {
    float: left;
    width: 50%;
    padding: 0px;
    height: 100%; 
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #109fca;
    padding: 10px;
  }
  
  .grid-container1 > div {
    background-color: #ffffffcc;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
  }